<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the housing prediction tool</h2>
    <h4> Please enter the following information in the fields to get the predicted house value</h4>
    <div>
    <h5>Longitude</h5>
    <form action="/" method="POST">
        <input type="text" name="longitude" placeholder="Enter the Longitude of the house">
    </div>
    <div>
    <h5>Latitude</h5>
        <input type="text" name="latitude" placeholder="Enter the Latitude of the house">
    </div>
    <div>
    <h5>Housing Age</h5>
        <input type="text" name="age" placeholder="Enter the Age of the house">
    </div>
    <div>
    <h5>Total Rooms</h5>
        <input type="text" name="rooms" placeholder="Enter the total number of rooms in the house">
    </div>
    <div>
    <h5>Total Bedrooms</h5>
        <input type="text" name="bedrooms" placeholder="Enter the total number of bedrooms in the house">
    </div>
    <div>
    <h5>Population</h5>
        <input type="text" name="population" placeholder="Enter the population">
    </div>
    <div>
    <h5>Households</h5>
        <input type="text" name="households" placeholder="Enter the number of households in the house">
    </div>
    <div>
    <h5>Income</h5>
        <input type="text" name="income" placeholder="Enter the Income"> 
    </div>
    <div>   
    <h5>Ocean Proximity</h5>
        <input type="text" name="proximity" placeholder="Enter the Ocean Proximity of the house">
        <input type="submit">
    </form>
</div>

    {{  info }}
</body>
</html>